<h1 class="display-4 text-center">
        Enregistrement du Detail de paiement 
</h1>
<hr>                     
    
<br><br>
<div class="jumbtron">
    <div class="row">   
        <div class="col-md-5">
            <app-payment-detail></app-payment-detail>
        </div>
        <div class="col-md-7">
            <app-payment-detail-list></app-payment-detail-list>
        </div>  
    </div>  
</div>

<div class="row">
    <div class="col-1">       
    </div>
    <div class="col-10">
        <!--<div class="jumbtron">
            <div class="row">   
                <div class="col-md-5">
                    <app-payment-detail></app-payment-detail>
                </div>
                <div class="col-md-7">
                    <app-payment-detail-list></app-payment-detail-list>
                </div>  
            </div>  
        </div>-->
    </div>
    <div class="col-1">          
    </div>
</div>
    
